.checkout-msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18rem auto 0;
  width: 50rem;
}

@media only screen and (max-width: 426px) {
  .btn-container{
    padding: 0 3rem !important;
  }
}